* {font-family: 'Yeon Sung', cursive;}
        h1,h4 {display: inline-block;}
        .wrap {margin: auto;  width: 700px;}
        h1 {font-size: 44px;
        }
        p {font-size: 40px;}
        .btn-order {display: block; margin: auto;}
        #festival_image{
            width: 600px;
            height: 690px;
            margin: 0 auto;
            background-position: center;
            background-size: cover;
        }
        .item-img {
            margin-top: 50px;
            width: 600px;
            height: 690px;
            margin: 0 auto;
            background-position: center;
            background-size: cover;
            }


/* 뒤로가기 버튼 */

.close-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 0px 10 10px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    background: #111;
    left: 70%;
    top: 3%;
    margin-top: 0;
    margin-left: 90px;
    position: absolute;
    text-indent: -9999px;
}
.close-button:before, .close-button:after {
    content: '';
    width: 55%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.close-button:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.close-button:hover:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 29%;
    left: 18%;
}
.close-button:hover:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 67%;
    left: 18%;
}

