@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

body{
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans', sans-serif;
box-sizing: border-box;
margin: 0;
/* 아래쪽은 레이아웃용 */
display: -webkit-flex;
display: flex;
padding: 0;
min-height: 100vh;
flex-direction: column;
text-align: center;
background-color: mintcream;
}

.header {
text-align: right;
margin: 10px;
font-size: 16px;
}

.navbar-brand {
font-weight: 700;
font-size: 24px;
}

.logo{
    height: 70px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.carousel-item {
height: 400px;
/*background-repeat: no-repeat;
background-size: cover; */
background-repeat: no-repeat;
background-size: cover; 
text-align: center;
}

.carousel-item.item1 {
background-image: url("https://i.postimg.cc/v8rMkZRK/image.png");
background-position: center;
}

.carousel-item.item2 {
background-image: url("https://i.postimg.cc/Df95N1kr/image.png");
background-position: center;
}

.carousel-item.item3 {
background-image: url("https://i.postimg.cc/TPr10MxM/image.png");
background-position: center;
}

.helper {
display: inline-block;
height: 100%;
vertical-align: middle;
}

.intro {
display: inline-block;
vertical-align: middle;
margin-top: 70px;
}

.intro h2 {
font-size: 28px;
color: white;
font-family: 'Ubuntu', sans-serif;
font-style: italic;
font-weight: 700;
margin-top: 10px;
margin-bottom: 18px;
}

.intro h3 {
font-size: 15px;
color: white;
font-weight: 300;
margin-top: 0;
margin-bottom: 50px;
}

.intro a {
background-color: #7BD9D9;
border-radius: 3px;
padding: 10px 20px;
color: white;
font-weight: 300;
font-size: 12px;
}

.container {
margin-top: 50px;
margin-bottom: 50px;
} 

.notice {
font-size: 15px;
}

.course {
display: block;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
margin-bottom: 20px;
border-radius: 5px;
}

.course:hover {
text-decoration: none;
}

.course .course-img {
display: block;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.course .info {
padding: 10px;
}

.course .info h4 {
font-size: 16px;
font-weight: 600;
color: #3B3C3C;
margin-top: 5;
margin-bottom: 5px;
margin-left: 3px;
}

.course .info .lecturer {
font-size: 12px;
font-weight: 500;
color: #3B3C3C;
}

.course .info .lecturer img {
vertical-align: middle;
margin-left: 3px;
}
.course .info .lecturer .name {
vertical-align: middle;
margin-left: 5px;
}



/* 레이아웃 */
/* 레이아웃 */

footer {
font-family: 'Poppins', sans-serif;
background: #dddddd81;
width: 100%;
padding: 2% 0;
color: rgb(104, 104, 104);
flex: 0;
}

.holyGrail {
display: flex;
flex: 1;
}

.content {
flex: 1;
}

.side-nav,
.side-bar{
font-family: 'Poppins', sans-serif;
text-align: center;
width: 300px;
background: #ffffff;
}

.side-nav {
order: -1;
}

.side-button{
margin-top: 20px;
}

.container_checkbox1 {
font-family: "Open Sans", sans-serif;
width: 250px;
margin: 50px auto 15px 50px;
padding-bottom: 15px;

border: 1px solid #9c9c9c;
border-radius: 5px;
box-shadow: 0 2px 10px 2px #bcbcbc;
}