<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script -->
    <script src="script.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/static/css/create_content_f.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>게시글 작성하기</title>
</head>
<body>
    <article class="board">
        <h1>board</h1>
        <section>
            <h3>글 작성하기</h3>
            <select>
                <option>카테고리</option>
                <option>모집하기</option>
                <option>리뷰</option>
                <option>문의사항</option>
            </select>
                <p><input placeholder="제목을 입력하세요."></p>
                <div class="place"><input placeholder="내용을 입력하세요."></div>
                <div class="plus">
                    <button>＋</button>
                    <button>＋</button>
                    <button>＋</button>
                    <button>＋</button>
                <div id="btn">
                    <button>임시저장</button>
                    <button>등록하기</button>
                </div>
        </section>
    </article>
</body>
<!-- Script -->
<script src="/static/js/api.js"></script>
<script src="/static/js/articles.js"></script>
</html>