<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/static/css/join_detail.css">
    <link rel="stylesheet" href="/static/css/comment.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap">
    <title>JOIN_DETAIL | 모집 상세보기</title>
</head>
<body>
    <a class="close-button" href="http://127.0.0.1:5500/templates/join_page.html">Back</a>
    <div class = "card-wrapper">
        <div class = "card">
        <!-- card right -->
            <div class = "product-content" >
                <h2 class = "product-title" id="update_festival">축제명 : <span id="join_detail_festival"></span></h2>
                <h3 id="update_title">제목 : <span id="join_detail_title"></span></h3>
            </div>
    
            <div class = "product-price">
                <p id ="update_count" class = "last-price">모집인원 : <span id="join_detail_count"></span></p>
                <p id ="update_period" class = "new-price">마감일 : <span id="join_detail_period"></span></p>
            </div>
    
            <!--dfddfdfdfdfdfdfdfef--->
            <div class = "product-detail">
                <h2> Content </h2>
            <div id="update_desc">
                <p id="join_detail_desc"></p>
                <!------>
            </div>
            </div>
            
            <div>
                <button id="join_update" onclick="editJoinEvent()">수정하기</button>
            </div>

            <div>
                <button id="join_delete" onclick="deleteJoin(join_article_id)">삭제하기</button>
            </div>

            <div>
                <button id="join_recruit" onclick="postRecruit(join_article_id)">신청하기</button>
            </div>
        </div>
    </div>
    <div>
        <h1 class="hhh">comment</h1>
        <section id="content3">
            <div id="noteFeed">
                <div id="noteCommentBox">
                    <div class="feed-item">
                        <textarea placeholder="댓글을 입력하세요" wrap="off" id="myNote"></textarea>
                        <button class="button-12" id="send" type="button" onclick="writeJoinCommentEvent()">
                            댓글 등록
                        </button>
                    </div>
                </div>
                <article class="post-comment2">
                <p>댓글 <span id="join_comment_count"></span>개</p>
                <ul id="comment_box" class="coment-box2">
                </ul>
                </article>
            </div>
        </section>
    </div>
</body>
<!-- Script -->
<script src="/static/js/api.js"></script>
<script src="/static/js/api_festival.js"></script>
<script src="/static/js/api_join.js"></script>
<script src="/static/js/api_recruit.js"></script>
<script src="/static/js/join_detail.js"></script>
</html>